* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Sora', sans-serif;
}

/* Nav styling */
nav {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    min-height: 10vh;
    align-items: center; 
    padding: 0; 
    overflow: hidden;
}

button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.nav-links {
    grid-column: 2/3;
    font-style: bold;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    width: 1000px;
}

.nav-links button{
    cursor: pointer;
    letter-spacing: 3px;
    font-size: large;
    font-style: bold;

    width: 150px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 30px;
    transition: ease-out 0.4s;
    outline: none;
}

.nav-links button:hover {
    background-color: #72bbe8
}

/* hero styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding-top: 26px;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin: 50px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
  
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

.card-container:hover .card {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -3px, 0px);
}

.card {
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor:pointer;
}

img {
    object-fit: cover;
    height: 200px;
}

h4 {
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}