* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Sora', sans-serif;
}

/* Nav styling */
nav {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    min-height: 10vh;
    align-items: center;   
    padding: 0;
    overflow: hidden;
}

button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.nav-links {
    grid-column: 2/3;
    font-style: bold;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    width: 1000px;
}

.nav-links button{
    cursor: pointer;
    letter-spacing: 3px;
    font-size: large;
    font-style: bold;

    width: 150px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 30px;
    transition: ease-out 0.4s;
    outline: none;
}

.nav-links button:hover {
    background-color: #72bbe8
}

/* "Experience" styling */
.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding:30px;
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: normal;
}

.exp_cards {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.card-container {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding-bottom: 20px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out; 
    transform-style: preserve-3d;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 40px rgba(0, 0, 0, 0.2); 
    border-radius: 30px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.front {
    background: rgb(45, 149, 247, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* avoids flicker on flip*/
    color: #333;
    text-align: center;
    padding:20px;
    font-size: 18pt;
}

.back {
    background: rgba(240, 143, 144, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    
    padding:20px;
}

.back-text {
    position: relative;
    text-align: left;
    font-size: 12pt;
    top: -15px;
}

/* courses and skills styling */
.courses {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar {
    width: 700px;
    height: 10px;
    background: linear-gradient(to right,#2d95f7 , #c72eff, #e63e41);
    margin: 30px;
    border-radius: 5px;
}

.tagcloud--item {
    font-size: 20px;
    font-weight: 600;
}

.tagcloud--item:hover {
    opacity: 1 !important;
    z-index: 100 !important;
    cursor: pointer;
    
}

.bar-labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 550px;
    padding-bottom: 40px;
}

/* courses styling */
.courses-container {
    font-family: "Sora";
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.courses {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    place-items: center
}

.bach {
    min-height: 30px;
    background-color: rgb(45, 149, 247, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: default;

    border: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: rgb(45, 149, 247, 1);

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.bach:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.mast {
    min-height: 30px;
    background-color: rgba(240, 143, 144, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: default;

    border: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: rgba(240, 143, 144);

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.mast:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.name:hover {
    display: block;
}

.course-desc {
    max-width: 30px;
    max-height: 30px;
    position:absolute;
    display: none;
    transition: transform 0.8s ease-in-out; /* todo: make this work*/
}

/* bottom styling */

.courses-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.legend-entry {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 7px;
}

#blue {
    background-color: rgb(45, 149, 247);
    
}

#orange {
    background-color: rgb(240, 143, 144);
}

.description-container {
    position: relative;
    width: 30rem;
    height: 5rem;
    background-color: rgb(137, 134, 234,0.5);
    border-color: rgb(137, 134, 234);
    bottom: 2%;

    border-radius: 10px;
    margin-bottom: 20px;
}

.description {
    padding: 10px;
}

/* positioning and coloring of courses */
#cs159 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#cs180 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#cs182 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#cs240 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#cs250 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

#cs251 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;;
}

#cs373 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

#cs381 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

#cs252 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

#cs471 {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
}

#cs577 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}

#cs580 {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
}

#ma416 {
    grid-row: 3 / 4;
    grid-column: 7 / 8;
}

#cs578 {
    grid-row: 2 / 3;
    grid-column: 7 / 8;
}

#cs584 {
    grid-row: 1 / 2;
    grid-column: 7 / 8;
}

/* semester positioning */
.sem {
    display: flex;
    justify-content: center;
    align-items: center;
}

#s19 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

#summer19 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#f19 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

#s20 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

#f20 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

#s21 {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
}

#f21 {
    grid-row: 4 / 5;
    grid-column: 7 / 8;
}