* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Sora', sans-serif;
}

/* Nav styling */
nav {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    min-height: 10vh;
    align-items: center;   
}

button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.nav-links {
    grid-column: 2/3;
    font-style: bold;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.nav-links button{
    cursor: pointer;
    letter-spacing: 3px;
    font-size: large;
    font-style: bold;

    width: 150px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 30px;
    transition: ease-out 0.4s;
    outline: none;
}

.nav-links button:hover {
    background-color: #72bbe8
}

/* "Experience" styling */
.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exp_cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card-container {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding-bottom: 20px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out; 
    transform-style: preserve-3d;
    box-shadow:0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.front {
    background: yellow;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* avoids flicker on flip*/
    color: #333;
    text-align: center;
    padding:20px;
}

.back {
    background: red;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
    padding:20px;
}

/* courses and skills styling */
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.courses {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Applying CSS to sphere */
.skill-sphere {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
}

/* Change color of each text in sphere on hover   */
.skill-sphere--item:hover {
    color: #FFC300;
}